fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.12
librosa==0.10.2
numpy==1.26.4
scipy==1.13.1
transformers==4.46.3
torch==2.4.1
torchaudio==2.4.1
soundfile==0.12.1
scikit-learn==1.5.2
python-dotenv==1.0.1
openai-whisper
